<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1"/>
    <title>Title</title>
    <!--<link href="../../static/datasyn/bootstrap3/css/bootstrap.css" rel="stylesheet" type="text/css"/>-->
    <!--<link href="../../static/datasyn/bootstrap3/css/bootstrap-switch.css" rel="stylesheet" type="text/css"/>-->
    <!--<link href="../../static/datasyn/layui/css/layui.css" rel="stylesheet" type="text/css"/>-->

    <!--<script src="../../static/js/jquery.js" type="text/javascript"></script>-->
    <!--<script src="../../static/datasyn/bootstrap3/js/bootstrap.js" type="text/javascript"></script>-->
    <!--<script src="../../static/datasyn/bootstrap3/js/bootstrap-switch.js" type="text/javascript"></script>-->
    <!--<script src="../../static/datasyn/layui/layui.js" type="text/javascript"></script>-->

    <!--<script src="../../static/datasyn/datasyn.js" type="text/javascript"></script>-->

    <link href="../../static/datasyn/bootstrap3/css/bootstrap.css" th:href="@{datasyn/bootstrap3/css/bootstrap.css}" rel="stylesheet" type="text/css"/>
    <link href="../../static/datasyn/bootstrap3/css/bootstrap-switch.css" th:href="@{datasyn/bootstrap3/css/bootstrap-switch.css}" rel="stylesheet" type="text/css"/>
    <link href="../../static/datasyn/layui/css/layui.css" th:href="@{datasyn/layui/css/layui.css}" rel="stylesheet" type="text/css"/>

    <script src="../../static/js/jquery.js" th:src="@{js/jquery.js}" type="text/javascript"></script>
    <script src="../../static/datasyn/bootstrap3/js/bootstrap.js" th:src="@{datasyn/bootstrap3/js/bootstrap.js}" type="text/javascript"></script>
    <script src="../../static/datasyn/bootstrap3/js/bootstrap-switch.js" th:src="@{datasyn/bootstrap3/js/bootstrap-switch.js}" type="text/javascript"></script>
    <script src="../../static/datasyn/layui/layui.js" th:src="@{datasyn/layui/layui.js}" type="text/javascript"></script>

    <script src="../../static/datasyn/datasyn.js" th:src="@{datasyn/datasyn.js}" type="text/javascript"></script>

    <!--
        jsp页面中获取服务器地址
        request.getScheme()+"://"+request.getServerName()+":"+request.getServerPort()+request.getContextPath()+"/";
    -->

</head>
<body>

<div class="container">
    <div class="panel panel-default">
        <div class="panel-body" style="text-align: center">
            <h1 style="font-size: 36px;">数据同步</h1>
            <!--<p>注意 10.4.102.22这个ip下的库 禁止进行同步测试！</p>-->
        </div>
    </div>
</div>

<!--数据源录入-->
<div class="container" id="createDataSource" style="display: none;text-align: center">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-sm-12">
                <div class="col-sm-6">
                    <div class="layui-form-item">
                        <label class="layui-form-label">IP</label>
                        <div class="layui-input-block">
                            <input type="text" id="url_ip" class="form-control" placeholder="DataBase IP">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layui-form-item">
                        <label class="layui-form-label">端口</label>
                        <div class="layui-input-block">
                            <input type="text" id="url_port" class="form-control" placeholder="Port">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layui-form-item">
                        <label class="layui-form-label">数据库</label>
                        <div class="layui-input-block">
                            <input type="text" id="basename" class="form-control" placeholder="madb or orcl">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layui-form-item">
                        <label class="layui-form-label">驱动</label>
                        <div class="layui-input-block">
                            <select id="driver" class="form-control">
                                <option>com.mysql.jdbc.Driver</option>
                                <option>oracle.jdbc.driver.OracleDriver</option>
                                <option>com.microsoft.sqlserver.jdbc.SQLServerDriver</option>
                                <option>com.microsoft.jdbc.sqlserver.SQLServerDriver</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layui-form-item">
                        <label class="layui-form-label">用户名</label>
                        <div class="layui-input-block">
                            <input type="text" id="username" class="form-control" placeholder="username">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layui-form-item">
                        <label class="layui-form-label">密码</label>
                        <div class="layui-input-block">
                            <input type="text" id="password" class="form-control" placeholder="password">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <button type="button" id="saveDataSourceBtn" class="btn btn-primary">测试连接</button>
                <button type="button" id="dataSourcePanelBtn" class="btn btn-primary">关闭界面</button>
            </div>
        </div>
    </div>
</div>

<!-- 同步配置 -->
<div class="container" id="syntable" style="text-align: center;display: none;">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-sm-6">
                        <div class="layui-form-item">
                            <label class="layui-form-label">同步库</label>
                            <div class="layui-input-block">
                                <select id="datato" class="form-control">
                                    <option></option>
                                    <option>数据库连接失败，请检查连接</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="layui-form-item">
                            <label class="layui-form-label">同步表</label>
                            <div class="layui-input-block">
                                <select id="tableto" class="form-control">
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2"></div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-sm-12">
                        <div class="layui-form-item">
                            <label class="layui-form-label">来源库</label>
                            <div class="layui-input-block">
                                <select id="datafrom" class="form-control">
                                    <option></option>
                                    <option>数据库连接失败，请检查连接</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="layui-form-item">
                            <label class="layui-form-label">来源表</label>
                            <div class="layui-input-block">
                                <select id="tablefrom" class="form-control">
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <button type="button" id="leftjoinbtn" class="btn btn-primary">left join</button>
                        <button type="button" id="resetleftjoin" class="btn btn-primary">重置</button>
                        <button type="button" id="leftjoinmake" class="btn btn-primary">确定</button>
                    </div>
                    <div id="leftjoin">
                        <!--<div class="col-sm-12" style="margin-bottom: 6px;">-->
                        <!--<div class="col-sm-2"><select class="form-control"></select></div>-->
                        <!--<div class="col-sm-2"><p class="leftjoinfont">left join</p></div>-->
                        <!--<div class="col-sm-2"><select class="form-control"></select></div>-->
                        <!--<div class="col-sm-1"><p class="leftjoinfont">on</p></div>-->
                        <!--<div class="col-sm-2"><select class="form-control"></select></div>-->
                        <!--<div class="col-sm-1"><p class="leftjoinfont">=</p></div>-->
                        <!--<div class="col-sm-2"><select class="form-control"></select></div>-->
                        <!--</div>-->
                    </div>
                </div>
            </div>

            <div class="col-sm-12" id="column">
                <!--<div class="col-sm-6">-->
                <!--<div class="layui-form-item">-->
                <!--<label class="layui-form-label">列名</label>-->
                <!--<div class="layui-input-block">-->
                <!--<input type="text" class="form-control">-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
                <!--<div class="col-sm-6">-->
                <!--<div class="layui-form-item">-->
                <!--<label class="layui-form-label">匹配</label>-->
                <!--<div class="layui-input-block">-->
                <!--<select id="" class="form-control columnfrom">-->
                <!--</select>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
            </div>
            <div class="col-sm-12">
                <button type="button" id="datasynbtn" class="btn btn-primary">保存配置</button>
                <button type="button" id="datasynPanelBtn" class="btn btn-primary">关闭界面</button>
            </div>
        </div>
    </div>
</div>
</div>

<!-- 运行状态 -->
<div class="container" id="dataSynStatus" style="display: block;">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-sm-12" style="text-align: center;">
                <!-- 中部按钮菜单栏 -->
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="btn-group" role="group" aria-label="...">
                            <input class="btn btn-default" id="dataSourcePanelOnBtn" type="button" value="数据源配置"
                                   style="min-width: 150px">
                            <input class="btn btn-default" id="dataSynOnBtn" type="button" value="同步配置"
                                   style="min-width: 150px">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        同步运行状态
                    </div>
                    <div class="panel-body">
                        <div>
                            <input class="btn btn-default" id="startDataSynBtn" type="button" value="点我进行一次同步"
                                   style="float: left;margin: 10px">
                        </div>
                        <table class="table table-hover">
                            <tbody id="datasyntable">
                            <!--<tr>-->
                            <!--<th>目标表</th>-->
                            <!--<th>同步表</th>-->
                            <!--<th>上次同步时间</th>-->
                            <!--<th>上次同步耗时</th>-->
                            <!--<th>开关</th>-->
                            <!--</tr>-->
                            <!--<tr>-->
                            <!--<td>sm_user</td>-->
                            <!--<td>person</td>-->
                            <!--<td>2017-04-06</td>-->
                            <!--<td>50s</td>-->
                            <!--<td>-->
                            <!--<input name="status" type="checkbox" data-size="mini">-->
                            <!--</td>-->
                            <!--</tr>-->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>